body {
    background-image: url('../images/pinkflower.jpg');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: content-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.container h1 {
    margin: 20px;
}

.container button {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
}

.toggle-label {
    font-size: 16px;
    margin-right: 10px;
    vertical-align: middle;
}

#pipedButton {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    vertical-align: middle;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #FF7276;
}

input:checked + .slider:before {
    transform: translateX(24px);
}

  